.heading{
    display: flex;
    justify-content: center;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.flexProp {
    display: flex;
    justify-content: space-evenly;
}
/* display:block */
.item {
    width: 82px;
    height: 82px;
    background-color: blanchedalmond;
}

.parent {
    width: 200px;
    height: 300px;
    background-color: honeydew;
    border: 1px solid #c3c3c3;
}
/* ------------------------------------------ */

/* display:flex */
.parent2{
display: flex;
width: 300px;
height: 300px;
background-color: honeydew;
border: 1px solid #c3c3c3;
}
/* ------------------------------------------ */

/* flex-direction:row */
.parent3{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 200px;
    background-color: honeydew;
    border: 1px solid #c3c3c3;
}
/* ----------------------------------------------- */

/* flex-direction:column */
.parent4 {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: honeydew;
    border: 1px solid #c3c3c3;
}
/* ------------------------------------------------ */

/* flex-direction: row-reverse */
.parent5{
    display: flex;
    flex-direction: row-reverse;
    width: 200px;
    height: 200px;
    background-color: honeydew;
    border: 1px solid #c3c3c3;

}
/* ------------------------------------------------ */

/*flex-direction: column-reverse  */
.parent6{
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
    height: 200px;
    background-color: honeydew;
    border: 1px solid #c3c3c3;
}
/* ---------------------------------------------- */

/* flex-wrap: wrap; */
.parent7{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 300px;
    background-color: honeydew;
    border: 1px solid #c3c3c3;

}
/* --------------------------------------------- */

/* flex-wrap: nowrap; */
.parent9{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 300px;
    height: 150px;
     background-color: honeydew;
    border: 1px solid #c3c3c3;
}
/* ------------------------------------------- */

/* flex-wrap: wrap-reverse */
.parent8 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    width: 300px;
    background-color: honeydew;
    border: 1px solid #c3c3c3;
}
/* ------------------------------------------ */

/* justify-content: flex-start */
.justify1{
width: 300px;
height: 200px;
background-color: honeydew;
display: flex;
justify-content: flex-start;
border: 1px solid #c3c3c3;
}
/* ------------------------------------------ */

/* justify-content: flex-end */
.justify2 {
    width: 300px;
    height: 200px;
    background-color: honeydew;
    display: flex;
    justify-content: flex-end;
    border: 1px solid #c3c3c3;
}
/* ------------------------------------------- */

/*justify-content: center  */
.justify3 {
    width: 300px;
    height: 200px;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    border: 1px solid #c3c3c3;
}
/* --------------------------------------------- */

/* justify-content: space-between */
.justify4 {
    width: 300px;
    height: 200px;
    background-color: honeydew;
    border: 1px solid #c3c3c3;
}
.parent13 {
    width: 300px;
    height: 200px;
    background-color: honeydew;
    display: flex;
    justify-content: space-between;
    border: 1px solid #c3c3c3;
}
/* --------------------------------------------- */

/*justify-content: space-around  */
.parent14 {
    width: 300px;
    height: 200px;
    background-color: honeydew;
    display: flex;
    justify-content: space-around;
    border: 1px solid #c3c3c3;
}
/* ---------------------------------------------- */

/*justify-content: space-evenly  */
.parent15 {
    width: 300px;
    height: 200px;
    background-color: honeydew;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #c3c3c3;
}
/* --------------------------------------------- */


/* align-content: flex-start */
.main1 {
    width: 300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    background-color: honeydew;
}
/* align-content: flex-end */
.main2 {
    width: 300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
    background-color: honeydew;
}
/* align-content: center */
.main3 {
    width: 300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    background-color: honeydew;
}

.main div {
    width: 100px;
    height: 70px;
}

/* align-content: space-between */
.main4 {
    width: 100px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    background-color: honeydew;
}
/* align-content: space-around */
.main5 {
    width: 100px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background-color: honeydew;
}
/* align-content: space-evenly */
.main6 {
    width: 100px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    background-color: honeydew;
}
/* align-content: stretch */
.main7 {
    width: 100px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    background-color: honeydew;
}
.alignitem div{
    width: 100px;
    height: 100px;
}
/* align-items: flex-start */
.main8 {
    width: 300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: honeydew;
}
/* align-items: flex-end */
.main9 {
    width: 300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: honeydew;
}
/* align-items: center */
.main10 {
    width: 300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: honeydew;
}
/*align-items: stretch  */
.main11 {
    width: 320px;
    height: 200px;
    border: 2px solid #c3c3c3;
    display: flex;
    align-items: stretch;
    background-color: honeydew;
}
.main11 div{
    width: 100px;
}

/* align-items: baseline; */
.main12 {
    width: 300px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: flex;
    align-items: baseline;
    background-color: honeydew;
}
.main12 div{
    width: 200px;
    height: 50px;
}

/* without order */
.main13 div {
    width: 100px;
    height: 80px;
}
.main13 {
    width: 300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    background-color: honeydew;
}
/* with order */
.main13 .order1{
    display: flex;
    order: 2;
}
.main13 .order2 {
    display: flex;
    order: 3;
}
.main13 .order3 {
    display: flex;
    order: 1;
}
.orderProp{
    display: flex;
}
.orderproperty{
    margin-left: 50px;
}
.orderHead{
    margin-left: 70px;
}


/* flex-grow ,flex-shrink,flex-base */
.main14{
    width: 300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    background-color: honeydew;
}
.main14 div{
    width: 100px;
    height: 100px;
}
.main15{
    width: 300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    background-color: honeydew;
}
.main16 {
    width: 300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    background-color: honeydew;
}
.main17 {
    width: 300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    background-color: honeydew;
}
.main15 .item1{
    display: flex;
    flex-basis: 80px;
}
.main15 .item2 {
    display: flex;
    flex-shrink: 1;
}
.main15 .item3 {
    display: flex;
    flex-grow: 1;
}
